DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqd3RfaWQiOjEsInNlY3VyZV9rZXkiOiJza19aaWNPQTV0WkN2aFhwMjRLOThJcTQiLCJhcGlfa2V5IjoiMDFLMkFKTUhIVDA0WUdEOE1BSkowQ1JBM1giLCJ0ZW5hbnRfaWQiOiJjNmU3MDkyZmFmYmNkZTEyMjhkYTI0MDFhY2RhZTFmMGFjYTBmZjEwNTAwYWQ4OWYxODkyYWMzZDgyYmIzOGEwIiwiaW50ZXJuYWxfc2VjcmV0IjoiNmQ3MTY5Y2QtMDA2ZC00ZWU2LWFjNTMtMWE2MjIzZDAzYzQwIn0.CAu9fKeEw2AwayjADZQmUQZEYaXqzZPEIYUzi4U5Ghc"
